/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: #F4ECD8;
    color: #333;
    margin: 0;
    padding: 0;
}

.content {
    background: white;
    margin: 40px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    color: #000; /* タイトルの色を黒色に変更 */
    font-family: 'HG行書体'; /* 行書体フォントを適用 */
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

.content h2 {
    color: red;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
}

.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;}

@media (max-width: 720px) {
    .content, .footer {
        width: 95%;
        z-index: 5;}
}

/* Added styles for calendar image positioning */
img[alt="December Calendar"] {
  width: 280px; /* Adjust the width of the image to fit the space */
  height: auto; /* Maintain the aspect ratio */
  position: absolute; /* Absolute position with respect to the nearest positioned ancestor */
  top: 0px; /* Adjust the top position based on the provided image */
  left: 550px; /* Adjust the left position based on the provided image */
  z-index: 9999; /* Keep it above other elements */
}
@media screen and (orientation: portrait) {
  img[alt="December Calendar"] {
    top: 500px;
  }
}
@media screen and (orientation: landscape) {
  img[alt="December Calendar"] {
    top: 270px;
  }
}
